SIM_ENDPOINT={{ simulator_url }}
CORS_ORIGIN={{ cors_origin }}
SRV_PORT={{ http_port }}

MONGO_CONNECTION={{ mongodb_string }}
CRYPT_KEY={{ jwt_secret }}

REDIS_HOST={{ redis_host }}
REDIS_PORT={{ redis_port }}
REDIS_PASSWORD={{ redis_password }}
UPLOADS_DIR={{ uploads_dir }}