[Unit]
Description=Our awesome server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
EnvironmentFile=/home/ubuntu/envs
Restart=always
RestartSec=1
User=ubuntu
ExecStart=/usr/bin/yarn --cwd run next -p $WEB_DIR start

[Install]
WantedBy=multi-user.target
